/* Linking style.css to user root variables */

@import url('./style.css');

/* Header */

/* * {
  border: 1px solid red;
} */

/* Card wrapper */
.img-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

/* Card size */
.card {
  height: 300px;
  width: 400px;
  border-radius: 20px;
}
/* card-Image height */
.card-image {
  height: 100%;
}
/* Image will cover the content */
.card-image img {
  height: 100%;
}

/* Image card content It will divede to 3 parts */
.img-card-wrapper .card-content {
  display: none;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  padding: 3px;
  height: 100%;
  background-color: var(--secondaryBackgroundColor);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  /* Transiton not working sytanx is corret something is wrong later i will back */
  transition: all ease 2s; /* Corrected typo */
}

.img-card-wrapper .card:hover .card-content {
  display: flex;
}

/* 1st part will contain Movie Title and Genres */
.card-content .title-wrapper {
  background-color: var(--secondaryBackgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* Movie title */
.card-content h2 {
  background-color: var(--secondaryBackgroundColor);
  margin-top: 30px;
  padding: 10px;
  font-size: 1.2rem;
}

/* Genre continaer */
.card-content .genre-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  background-color: var(--secondaryBackgroundColor);
}

/* Genre Paraghraph */
.card-content .genre-container p {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  color: var(--secondaryBackgroundColor);
}

/* Second part will be diveder */

/* Divder */
.diveder {
  position: absolute;
  top: 400px;
  left: 20px;
  width: 90%;
  height: 2px;
  background-color: #eee;
}
/* Third part will be Movie summary */

/* Summary  */
.card-content .movie-summary-wrapper {
  background-color: var(--secondaryBackgroundColor);
}

.card-content .movie-summary-wrapper p {
  background-color: var(--secondaryBackgroundColor);
  margin-top: 60px;
  padding: 10px;
  font-size: 1rem;
}

.btn-floating i {
  background: transparent;
}

/* Modal */

.modal {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.modal .modal-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* Video sizing */
.modal .modal-content video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
