/* Settin roots */

:root {
  /* Colors======================= */
  /* PrimaryBackround */
  --primaryBackgroundColor: #f9da8a;
  /* SecondaryBackround */
  --secondaryBackgroundColor: #1e1f1e;
  /* Fontcolor light */
  --fontColor: #fdfcfc;
  /* FontColor lighter*/
  --fontColorLighter: #d4d3d1;
  /* Font Size===================== */
  /* Heading */
  --heading-1: 4rem;
  --heading-2: 2rem;
  --heading-3: 1rem;
  /* Title */
  --title-1: 1rem;
  --title-2: 0.8rem;
  /* Paragrapgh */
  --paragraph-1: 1rem;
}

/* Setting font for all */
* {
  font-family: monospace;
  font-weight: 400;
  color: var(--fontColor);
}

/* Setting font size for heading */

h1 {
  font-size: var(--heading-1);
}
h2 {
  font-size: var(--heading-2);
}
h3 {
  font-size: var(--heading-3);
}

/* Settin font size for paragraph */

p {
  font-size: var(--paragraph-1);
}
